<form method="post" action="{{ path('main_entity_delete', {'id': main_entity.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ main_entity.id) }}">
    <button class="btn">Delete</button>
</form>
