{% extends 'base.html.twig' %}

{% block title %}New MainEntity{% endblock %}

{% block body %}
    <h1>Create new MainEntity</h1>

    {{ include('main_entity/_form.html.twig') }}

    <a href="{{ path('main_entity_index') }}">back to list</a>
{% endblock %}
